.admin-espace-container {
    position: relative; // Pour positionner le bouton de création de compte utilisateur

    // Bouton pour créer un compte utilisateur
    .create-employe-account {
        position: absolute;
        top: 7px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        z-index: 1;
        font-size: 0.8rem;
    }

    // La modale pour créer un compte employé
    .create-employe-account-modal {

        // Le fond de la modale
        .modal-content {
            background-color: $light;
            border-radius: 0 0 15px 15px;
            padding: 10px;

            .modal-body {

                // Le formulaire pour créer un compte employé
                .create-employe-account-form {

                    // Le contenu du formulaire
                    .create-employe-account-body {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;
                        margin: 0.5rem;

                        // Pour les inputs et les labels
                        .form-floating {
                            width: 100%;

                            label {
                                color: $dark;
                            }

                            // section pour afficher le mot de passe
                            .show-password {
                                display: flex;
                                justify-content: end;
                                align-items: center;
                                gap: 10px;

                                // Icon du petit carré
                                i {
                                    cursor: pointer;
                                    color: $dark;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    // style de la table génerée par DataTable (La bibliothèque JS)
    .dt-container {

        // Text qui indique : Afficher [X] entrées. et Recherche
        .dt-length,
        .dt-search {
            label {
                color: white;
            }
        }

        // Text qui indique : Affichage de 1 à 10 sur 29 entrées ....
        .dt-info {
            color: $light;
        }

        // Le contenu de la table
        .dt-layout-table {
            .user-table {
                background-color: $light;

                // Les entêtes de la table
                thead {
                    th {
                        padding: 10px;
                    }

                    // La colonne Actions
                    .actions-row {
                        text-align: center;
                    }
                }

                // Le corps de la table
                tbody {

                    td,
                    th {
                        padding: 15px;
                    }

                    // La colonne ID
                    .id-row {
                        text-align: left;
                    }

                    // La colonne Actions
                    .actions-col {
                        text-align: center;

                        // L'icon pour suspendre un compte utilisateur
                        .bi-person-fill-slash {
                            color: $danger;
                            cursor: pointer;
                            transition: all 0.3s ease-in-out;

                            &:hover {
                                font-size: 0.95rem;
                                color: $danger;
                                filter: brightness(0.9);
                            }
                        }

                        // L'icon quand l'user est déjà suspendu
                        .inactif-user-delete-btn {
                            cursor: not-allowed;
                            color: $dark;

                            &:hover {
                                font-size: 0.95rem;
                                color: $dark;
                                filter: brightness(0.9);
                            }
                        }
                    }

                    // La colonne de l'user actif ou inactif
                    .active-col {
                        text-align: center;

                        // Icon pour afficher si l'utilisateur est actif
                        .bi-check-circle-fill {
                            color: $primary;
                        }

                        // Icon pour afficher si l'utilisateur est inactif
                        .bi-x-circle-fill {
                            color: $danger;
                        }
                    }

                }
            }
        }
    }

}

// Styles de la modale pour suspendre un compte utilisateur
.modal-suspend-user {
    .btn-close-div {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    }

    // Formulaire de suppression d'un compte utilisateur
    .suspend-user-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 2px 15px 20px;
    }

}

@media (max-width: 768px) {
    .admin-espace-container {

        // Bouton pour créer un compte utilisateur
        .create-employe-account {
            top: 1.4%;
            left: 88%;
            font-size: 0.4rem;
            width: 80px;
        }

        // Le contenu de la table des utilisateurs
        .dt-container {

            // Pour adjuster la barre de recherche, afin de, pourvoir afficher le bouton de création de compte utilisateur
            &:first-child {
                .dt-layout-end {
                    display: flex;
                }
            }

            // Text qui indique : Afficher [X] entrées. et Recherche
            .dt-length,
            .dt-search {

                // Pour afficher le texte en blanc
                label {
                    color: white;
                }

                // Pour changer la taille de la police du select : Afficher [X] entrées.
                select {
                    font-size: 0.6rem;
                }
            }

            // Text qui indique : Affichage de 1 à 10 sur 29 entrées ....
            .dt-info {
                color: $dark;
            }

            .dt-layout-table {
                .user-table {

                    // Pour afficher la table en mode responsive
                    colgroup {
                        col {
                            width: 100% !important;
                        }
                    }

                    thead {

                        // Pour chacher les entêtes de la table
                        th {
                            display: none;
                        }
                    }

                    tbody {

                        td,
                        th {
                            display: block;
                            width: 100% !important;

                            // Pour afficher le nom de la colonne
                            &::before {
                                content: attr(data-cell) " : ";
                                font-weight: bold;
                            }

                            &:first-child {
                                padding-top: 1rem;
                            }

                            &:last-child {
                                padding-bottom: 1rem;
                            }
                        }

                        // La colonne nombre de credits
                        .dt-type-numeric {
                            text-align: left;
                        }

                        // La colonne de l'user actif ou inactif
                        .active-col {
                            text-align: left !important;
                        }
                    }
                }
            }

            // Pour afficher la pagination en bas
            .pagination {
                .dt-paging-button {
                    button {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
}