// Style pour les page de connexion et du création du compte
.connection-form {
  form {

    // Tous les champs du formulaire
    .form-floating {
      width: 90%;

      input {
        background-color: $light;
      }

      // Pour l'affichage du mot de passe
      .show-password {
        position: absolute;
        right: 0;
        top: 0%;
        transform: translate(-100%, 60%);

        // Icon du petit carré
        i {
          cursor: pointer;
          color: $dark;
        }
      }

      // Pour les messages des erreurs
      .invalid-mdp {
        background-image: none !important;
      }
    }

    // Si l'utilisateur est un chauffeur, alors on affiche le fomulaire pour les chauffeur
    .if-chauffeur {
      label {
        color: white;
      }

      input {
        background-color: $light;
      }
    }

    // Si l'utilisateur n'est pas un chauffeur, alors on n'affiche pas le fomulaire pour les chauffeur
    .non-chauffeur {
      display: none !important;
    }

    // Style pour le formulaire de création des covoiturages
    .covoiturage-form {
      input {
        background-color: $light;
      }

      label,
      input {
        color: $dark;
      }
    }
  }

  // pour le message d'erreur
  .if-form-error {
    .alert {
      width: 90%;
    }
  }

  // Style du button
  button {
    border: 0.5px solid $dark;
  }
}

// Style pour les tablets et mobiles
@media (max-width: "768px") {
  .connection-form {
    .alert {
      margin-top: 0px !important;
    }

    .lien {
      margin-top: 50px !important;
    }

    // Style pour le formulaire de création des covoiturages
    .covoiturage-form {
      gap: 1.1rem !important;

      .covoiturage-form-div {
        flex-direction: column;
        align-items: center;
        gap: 1.1rem;

        div {
          width: 100% !important;

          .form-control,
          .form-select {
            padding: 2px 0.75rem;
          }
        }
      }
    }

    // Tous les champs du formulaire de connexion
    .form-floating {

      // Pour l'affichage du mot de passe
      .show-password {
        transform: translate(-100%, 100%) !important;
      }
    }
  }
}