// Section des covoiturages
.covoiturages {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;

  // Section des filtres
  .filter {
    width: 30%;

    // Header des filtres
    .filter-header {
      display: flex;
      background-color: $secondary;
      color: white;
      align-items: center;
      justify-content: center;
      gap: 7px;
      border-radius: 5px 5px 0 0;
      padding: 5px;

      h3 {
        margin-bottom: 0;
      }

      i {
        font-size: 26px;
      }
    }

    // Corps des filtres
    .filter-body {
      padding: 9px;
      background-color: $light;
      border-radius: 0 0 5px 5px;

      // Formulaire des filtres
      form {
        margin: 5%;

        div {
          margin-bottom: 20px;

          // Couleur des icons qui expliquent les filtres
          i {
            color: $dark;
          }

          // Pour le filtre du Voyage Écologique
          .form-check-input {
            width: 20px;
            border-radius: 50%;
            cursor: pointer;
          }

          // Pour eloigner les labels des icons
          label {
            margin-left: 5px;
          }

          // Style des inputs
          input {
            margin-left: 15px;
            border: solid 1px $secondary;
            max-width: 30%;
            height: 20px;
          }

        }

        // Pour le filtre de la note du chauffeur
        .note-filter {
          display: flex;

          label {
            margin-left: 10px;
          }

          // Style pour chaque étoile
          .note-stars {
            margin-left: 15px;
            cursor: pointer;

            i {
              color: $dark;
              opacity: 0.3;
              cursor: pointer;
            }

            // Quand on clique sur les étoiles
            .active-star {
              color: $secondary;
              opacity: 1;
            }
          }
        }
      }
    }

    // Bouton pour visualiser les covoiturages de l'utilisateur
    .mes-covoiturages-btn {
      margin-top: 7%;
      width: 100%;
      display: flex;
      justify-content: center;

      .btn {
        width: 95%;
      }
    }
  }

  // Section des résultats des covoiturages
  .covoiturage-results {
    width: 65%;

    // Barre de récherche
    .result-bar-covoiturage {
      position: relative;
      display: flex;
      align-items: center;

      // Style de l'input
      .result-div {
        width: 100%;
        border-radius: 24px;
        border: solid 1.5px #4e4e4e;
        height: 80px;
        background-color: $light;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      // Le bouton pour filtrer qui n'apparaître pas en mode desktop
      .filter-btn {
        display: none;
      }
    }

    // Text avec le jour et la date du covoiturage
    h2 {
      color: white;
      margin-top: 3%;
      margin-bottom: 3%;
    }

    // Bouton pour visualiser les covoiturages de l'utilisateur en mode mobile,
    // en mode desktop on le cache
    .mes-covoiturages-btn-mobile {
      display: none;
    }

    // Pour les cartes avec les covoiturages
    .travel-card {
      padding: 25px 0 10px;
      background-color: $light;
      border-radius: 12px;
      margin-bottom: 5%;

      // Pour les informations du covoiturage
      .travel-content {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;

        // L'heure de départ et d'arrivée
        .travel-time {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;

          p {
            margin-bottom: 0;
          }

          i {
            font-size: 30px;
          }
        }

        // Les déscriptions
        .travel-description {

          // Pour mettre en gras les texts avec le lieu de départ et d'arrivée
          >div:first-child,
          >div:last-child {
            font-weight: bold;
          }

          // les Places disponibles et Voyage Écologique
          div {
            display: flex;
            gap: 9px;
            margin-bottom: 10px;

            // Icon
            .bi-car-front-fill {
              color: $secondary;
            }

            // Icon
            .bi-tree-fill {
              color: $primary;
            }

            p {
              margin-bottom: 0;

              // Pour mettre en gras le résultat des Places disponibles et du Voyage Écologique
              span {
                font-weight: bold;
              }
            }
          }
        }

        // Le prix
        .travel-price {
          display: flex;

          // Les crédits
          .headline-text {
            font-weight: 500;
          }

          // Icon
          i {
            margin-left: 5px;
          }
        }
      }

      // Pour le profil du chauffeur
      .driver-profile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

        div {
          margin-top: 10px;
        }

        // Pour la photo et le prenom/nom du chauffeur
        .driver-img {
          display: flex;
          align-items: center;
          gap: 20px;

          // la photo
          img {
            border-radius: 100%;
            width: 50px;
            height: 50px;
            object-fit: cover;
          }

          // Nom/prenom
          .content-text {
            color: $dark;
          }
        }

        // La note du chauffeur
        .driver-note {
          color: $dark;
          display: flex;
          align-items: baseline;
          gap: 5px;
        }

        // Le bouton pour plus de détail sur le covoiturage
        .btn {
          width: 147px;
        }

        // Pour suprimmer la margin-bottom dans tous les textes en <p>
        p {
          margin-bottom: 0;
        }
      }

      // Une ligne sur la section du profil du chauffeur
      .driver-profile::before {
        content: "";
        width: 100%;
        height: 0.3px;
        background-color: $dark;
        position: absolute;
        top: 0;
      }
    }
  }
}

// Medias Queries pour les mobiles et tablets
@media (max-width: "768px") {

  // Section des covoiturages
  .covoiturages {
    margin-top: 20px;

    // Pour soupprimer la section de filtres
    .filter {
      display: none;
    }

    // Bouton pour visualiser les covoiturages de l'utilisateur en mode mobile,
    .mes-covoiturages-btn-mobile {
      display: flex !important;
      width: 45%;
      justify-content: flex-end;

      .btn {
        font-size: 0.5rem !important;
        width: 70%;
        color: $dark;
        text-transform: uppercase;
        font-weight: bold;
        padding: 3%;
        border: 1px solid #4e4e4e;
      }
    }

    // Section des résultats des covoiturages
    .covoiturage-results {
      width: 100% !important; // Il fait tout le width car il n'y a plus de section des filtres

      // Barre de recherche
      .result-bar-covoiturage {

        // Icon de la loupe de recherche
        .bi-search {
          padding-left: 15px !important;
          font-size: 15px !important;
        }

        // Style pour l'input
        .result-div {
          border: solid 1px $dark !important;
          height: 35px !important;
          border-radius: 10px !important;
          font-size: 0.8rem !important;
        }

        // Le bouton pour voir les filtres
        .filter-btn {
          position: absolute;
          right: 10px;
          border-radius: 10px;
          padding: 1px 10px;
          display: flex;
          align-items: center;
          gap: 2px;

          // Icon de filtrer
          i {
            color: white;
            position: relative;
            padding: 0 !important;
            font-size: 12px !important;
          }
        }
      }

      // Les cartes avec les covoiturages
      .travel-card {
        padding: 8px 0px;

        // Le contenu des cartes
        .travel-content {
          margin-bottom: 10px;

          // L'heure de départ et d'arrivée
          .travel-time {

            // icon de la fleche
            i {
              font-size: 25px !important;
            }
          }

          // Les déscriptions
          .travel-description {
            font-size: 0.6rem !important;
          }

          // Le prix
          .travel-price {

            // Pour les crédits et l'icon du crédit
            >p:first-child,
            i {
              font-size: 1.1rem !important;
              font-weight: 600;
            }
          }
        }

        // Pour le profil du chauffeur
        .driver-profile {

          // La photo et le prenom/nom du chauffeur
          .driver-img {
            gap: 10px;

            // La photo
            img {
              width: 25px;
              height: 25px;
            }
          }

          // La note du chauffeur
          .driver-note {
            align-items: center;

            // icon de l'étoile
            i {
              font-size: 10px;
            }
          }

          // Le bouton pour plus de détail sur le covoiturage
          .btn {
            font-size: 0.6rem !important;
            padding: 3px;
            width: 60px;
          }

          // Pour changer la taille dans tous les textes en <p>
          p {
            font-size: 0.6rem !important;
          }
        }
      }
    }
  }

  // Style pour le modal des filtres
  .modal-content {
    background-color: $light !important;

    // Header de la modal
    .modal-header {
      justify-content: center;
    }

    // Body de la modal
    .modal-body {

      // Corps des filtres
      .filter-body {

        // Formulaire des filtres
        div {
          margin-bottom: 20px;

          // Couleur des icons qui expliquent les filtres
          i {
            color: $dark;
          }

          // Pour le filtre du Voyage Écologique
          .form-check-input {
            width: 20px;
            border-radius: 50%;
            cursor: pointer;
          }

          // Pour eloigner les labels des icons
          label {
            margin-left: 5px;
          }

          // Style des inputs
          input {
            margin-left: 15px;
            border: solid 1px $secondary;
            max-width: 30%;
            height: 20px;
            margin-top: 0;
          }
        }

        // Pour le filtre de la note du chauffeur
        .note-filter {
          display: flex;

          label {
            margin-left: 10px;
          }

          // Style pour chaque étoile
          .note-stars {
            margin-left: 15px;
            cursor: pointer;

            i {
              color: $dark;
              opacity: 0.3;
              cursor: pointer;
            }

            // Quand on clique sur les étoiles
            .active-star {
              color: $secondary;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}