// style de la table génerée par DataTable (La bibliothèque JS)
.dt-container {

    // Text qui indique : Afficher [X] entrées. et Recherche
    .dt-length,
    .dt-search {
        label {
            color: white;
        }
    }

    // Text qui indique : Affichage de 1 à 10 sur 29 entrées ....
    .dt-info {
        color: $dark;
    }

    // Le contenu de la table
    .dt-layout-table {
        .user-table {
            background-color: $light;

            // Les entêtes de la table
            thead {
                th {
                    padding: 10px;
                }

                .actions-row {
                    // La colonne Actions
                    text-align: center;
                }
            }

            // Le corps de la table
            tbody {

                td,
                th {
                    padding: 10px;
                }

                .id-row {
                    // La colonne ID
                    text-align: left;
                }

                .actions-col {
                    // La colonne Actions
                    text-align: center;

                    // L'icon pour supprimer un compte utilisateur
                    .bi-trash-fill {
                        color: $danger;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            font-size: 1.08rem;
                        }
                    }
                }

                
            }
        }
    }
}

// Styles de la modale pour supprimer un compte utilisateur
.modal-delete-user {
    .btn-close-div {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    }
    // Formulaire de suppression d'un compte utilisateur
    .delete-user-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 2px 15px 20px;
    }

}