// Admin Graphs Styles
.chart-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;

    #myChart {
        width: 100% !important;
        height: 500px !important;
    }
}

// Responsive
@media(max-width: 768px) {
    .chart-container {
            #myChart {
                height: 400px !important;
                position: relative;
            }
        }
}