// Style pour les page de connexion et du création du compte
.connection-form {
  form {
    // Tous les champs du formulaire
    .form-floating {
      width: 90%;

      input {
        border: 0.5px solid $dark;
        background-color: $light;
      }
      // Pour le text de l'input qui est dedans le label
      .form-control ~ label::after {
        background-color: $light;
      }
      // Pour l'affichage du mot de passe
      .show-password {
        display: flex;
        gap: 10px;
        justify-content: end;
        position: absolute;
        right: 0;
        // Icon du petit carré
        i {
          cursor: pointer;
          color: white;
        }
      }
      // Pour les messages des erreurs
      .invalid-tooltip-mdp {
        width: 50%;
      }
    }

    // Si l'utilisateur est un chauffuer, alors on affiche le fomulaire pour les chauffeur
    .if-chauffeur {
      label {
        color: white;
      }
      input {
        background-color: $light;
      }
    }
    // Si l'utilisateur n'est pas un chauffuer, alors on n'affiche pas le fomulaire pour les chauffeur
    .non-chauffeur {
      display: none !important;
    }
  }
  // pour le message d'erreur
  .if-form-error {
    .alert {
      width: 90%;
    }
  }
  // Style du button
  button {
    border: 0.5px solid $dark;
  }
}

// Style pour les tablets et mobiles
@media (max-width: "768px") {
  .connection-form {
    .alert {
      margin-top: 0px !important;
    }

    .lien {
      margin-top: 50px !important;
    }
  }
}
