.chauffeur {
    label {
      color: white;
      margin-bottom: 0;
    }
    input, select {
      border: 0.5px solid $dark;
      background-color: $light;
    }
    // les champs du formulaire pour ajouter une voiture
    .car-form {
      width: 45%;
      .car-form-div {
        display: flex;
        gap: 25px;
        align-items: center;
      }
      // Pour afficher le message d'erreur 
      .invalid-tooltip{
        display: block;
      }
    }
    // les champs du formulaire pour ajouter le profil du chauffeur
    .driver-form {
      width: 50%;
      .form-check-input:checked {
        background-color: $secondary;
      }
    }
  }