// Navbar pour afficher les avis ou les covoiturages signalés
.employe-navbar {
    .container-fluid {
        justify-content: center;

        .navbar-nav {
            border-bottom: 5px solid $light;
            display: flex;
            flex-direction: row;
            gap: 2rem;

            // Les options dasn le navbar
            .nav-item {

                // Pour chaque lien ou bouton
                .nav-link {
                    padding: 10px 20px;
                    border-radius: 10px 10px 0 0;
                    cursor: pointer;
                    color: white !important;
                    transition: background-color 0.3s ease;

                    // Au survole
                    &:hover {
                        background-color: lighten($light, 10%);
                        color: $dark !important;
                    }

                    // Quand est cliqué
                    &.active {
                        background-color: $light;
                        color: $dark !important;
                    }
                }
            }
        }

    }
}

// Tous les avis
.avis-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .avis-list {
        background-color: $light;
        padding: 1.5rem 2rem;
        border-radius: 10px;
        position: relative;

        //Le pseudo du passager et du chauffeur
        .users-name {
            display: flex;
            justify-content: space-between;

            // Pour créer un ligne en dessous
            &::after {
                content: "";
                width: 100%;
                top: 29%;
                left: 0;
                position: absolute;
                height: 0.3px;
                background-color: rgba($dark, 0.4);
            }
        }

        // Le titre de l'avis et la note du chauffeur
        .avis-title-note {
            display: flex;
            justify-content: space-between;

            // Style pour chaque étoile
            .note-stars {
                gap: 10px;

                i {
                    color: $dark;
                    opacity: 0.3;
                }

                // Quand on clique sur les étoiles
                .active-star {
                    color: $secondary;
                    opacity: 1;
                }
            }
        }

        // La déscription de l'avis
        .avis-description {
            border-bottom: 0.1px solid rgba($dark, 0.2);
        }

        // Les boutons d'action : (Valider ou refuser)
        .avis-btn {
            display: flex;
            justify-content: center;
            gap: 2rem;
        }
    }
}

// Tous les commentaires
.comment-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .comment-list {
        background-color: $light;
        padding: 1.5rem 2rem;
        border-radius: 10px;
        position: relative;

        //Le pseudo du passager et du chauffeur
        .users-name {
            display: flex;
            justify-content: space-between;

            // Pour créer un ligne en dessous
            &::after {
                content: "";
                width: 100%;
                top: 28%;
                left: 0;
                position: absolute;
                height: 0.3px;
                background-color: rgba($dark, 0.4);
            }
        }

        // La déscription du commentaire
        .comment-description {
            border-bottom: 0.1px solid rgba($dark, 0.2);
        }

        // Modal avec le decriptif du covoiturage
        .covoiturage-description-modal {
            // Le width de la modal
            .modal-dialog {
                max-width: 92%;
                // Le contenu de la modal
                .modal-content {
                    background-color: $light;
                    .modal-header {
                        padding: 1.5rem 2rem;
                    }
                    .modal-body {
                        padding: 2rem 1rem;
                        // La list avec les descriptif des covoiturages
                        .covoiturage-description-list {
                            padding-left: 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            li {
                                font-weight: 700;

                                span {
                                    font-weight: 400;
                                }

                                ;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Pour le responsive
@media (max-width : "768px") {
    .avis-list-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;

        .avis-list {
            padding: 1.2rem;
        }
    }
    .comment-list-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 0;

        .comment-list {
            padding: 1.2rem;

            // Modal avec le decriptif du covoiturage
        .covoiturage-description-modal {
            // Le width de la modal
            .modal-dialog {
                max-width: 100%;
                // Le contenu de la modal
                .modal-content {
                    .modal-header {
                        padding: 1rem;
                    }
                    .modal-body {
                        padding: 1rem 0.2rem;
                        // La list avec les descriptif des covoiturages
                        .covoiturage-description-list {
                            padding-left: 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            li {
                                font-weight: 700;

                                span {
                                    font-weight: 400;
                                }

                                ;
                            }
                        }
                    }
                }
            }
        }
        }
    }
}