// Le Hero de la page avec un text et le bouton pour créer un nouveau covoiturage
.mes-covoiturages-hero {
  background-color: black;
  position: relative;
  height: 35vh;

  //Ajout de l'image
  &::before {
    position: absolute;
    content: "";
    background-image: url("../../Assets/Img_page-mes-covoiturages/hero.webp"); // je l'ai fait comme ca -> (../../), car le main.css est dans un autre dossier (css)
    background-position: center;
    background-size: cover;
    left: 0;
    height: 100%;
    width: 100%;
    filter: opacity(0.5) drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
  }

  // Pour centre le texte et le bouton
  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
// Les 'accordion' avec les covoiturages de l'user
.accordion {
  .accordion-body {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1.5rem;
      padding-left: 0;
      // La liste avec tous les covoiturages
      li {
        background-color: $light;
        padding: 15px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 25px;
        border: dashed 0.8px $dark;

        // Le jour et le mois du covoiturage
        .covoiturage-day-month {
          padding: 10px;
          background-color: $secondary;
          color: $light;
          border-radius: 50px;
        }
        // L'info du covoiturage
        .covoiturage-info-list {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          text-transform: capitalize;
          p {
            margin-bottom: 0;
          }
          .covoiturage-date-time {
            text-align: center;
          }
        }
        // Modal pour confirmer l'annulation du covoiturage
        .modal {
          // Le contenu de la modal
          .modal-content {
            border-radius: 10px;
            div,
            .form {
              border-radius: 10px;
            }
          }
          // Bouton pour fermer la modal
          .btn-close {
            position: absolute;
            right: 2%;
            z-index: 1;
            top: 5%;
          }
        }
        // Le div avec les boutons pour annuler, voir le détail ou démarrer le covoiturage
        .covoiturage-btn-div {
          border-top: solid 0.3px $dark;
          .btn {
            margin-top: 15px;
            font-size: 1rem !important;
            // le Text Mobile
            @media (max-width: "768px") {
              font-size: 0.6rem !important;
              font-weight: 500;
            }
          }
          // Le bouton qu'indique que le covoiturage est clôturé puis qu'il est arrivé à destination
          .btn-dark{
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
