// Section avec les tous les description du covoiturage
.covoiturage-info {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  // Infomation du voyage
  .trip-info {
    width: 40%;
    // Header
    .trip-header {
      display: flex;
      background-color: $secondary;
      color: white;
      align-items: center;
      justify-content: space-around;
      border-radius: 5px 5px 0 0;
      padding: 10px 5px;

      h3,
      p {
        margin-bottom: 0;
      }
      // Pour le prix du covoiturage
      .trip-price {
        display: flex;
        // Les euros
        .headline-text {
          font-weight: 500;
        }
        // Les céntimes
        .content-text {
          margin-top: 15px;
        }
        // Icon
        i {
          margin-left: 4px;
        }
      }
    }
    // Body
    .trip-body {
      padding: 15px;
      background-color: $light;
      border-radius: 0 0 5px 5px;
      // Les descriptions des heures du covoiturage, les lieus de départ et d'arrivée et la durée du trajet
      .time-description {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        // Les hueres
        .time {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 15px;
          i {
            font-size: 30px;
          }
        }
        // Les lieus et la durée
        .places {
          display: flex;
          gap: 10px;
          flex-direction: column;
          margin-bottom: 15px;
        }
        // Pour mettre quelques textes en gras
        p,
        span {
          margin-bottom: 0;
          font-weight: 600;
        }
        // Une ligne
        &:after {
          content: "";
          width: 100%;
          height: 0.3px;
          background-color: $dark;
          position: absolute;
          bottom: 0;
        }
      }
      // Les descriptions du covoiturage
      .trip-description {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        .descriptions {
          // les Places disponibles, Voyage Écologique, Énergie utilisée, Marque du véhicule et Modèle du véhicule
          div {
            display: flex;
            gap: 10px;
            margin-bottom: 15px;
            // Icon de Places disponibles, Marque du véhicule et Modèle du véhicule
            .bi-car-front-fill,
            .fa-car-side,
            .fa-car-on {
              color: $secondary;
            }
            // Icon de Voyage Écologique et Énergie utilisée
            .bi-tree-fill,
            .bi-lightning-charge-fill {
              color: $primary;
            }
            p {
              margin-bottom: 0;
              // Pour mettre en gras le résultat chaque description
              span {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    // Bouton pour participer au covoiturage
    .participation-btn {
      margin-top: 7%;
      width: 100%;
      display: flex;
      justify-content: center;
      .btn {
        width: 95%;
        color: $dark;
        text-transform: uppercase;
        font-weight: bold;
        padding: 2%;
        border: 1px solid $dark;
      }
    }
  }
  // Infomation du chauffeur
  .driver-info {
    padding: 15px 3%;
    background-color: $light;
    width: 55%;
    border-radius: 5px;
    margin-bottom: 5%;
    // La photo, le prenom/nom et la note du chauffuer
    .driver-header {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      // La photo
      img {
        border-radius: 100%;
        width: 80px;
        height: 80px;
        object-fit: cover;
        margin-bottom: 15px;
        border: 1px solid $dark;
      }
      // Le Nom/prenom
      .subtitle-text {
        color: $dark;
        margin-bottom: 15px;
      }
      // La note
      .driver-note {
        display: flex;
        gap: 5px;
        font-weight: 500;
        margin-bottom: 15px;
        i {
          color: $tertiary;
        }
      }
      // Ligne en dessous
      &:after {
        content: "";
        width: 100%;
        height: 0.5px;
        background-color: $dark;
        position: absolute;
        bottom: 0;
      }
    }
    // Les préférences au chauffeur
    .preferences {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      // Le titre
      h2 {
        color: $secondary;
        margin-bottom: 20px;
      }
      // List des préférences
      ul {
        margin-bottom: 0;
        li {
          margin-bottom: 5%;
          span {
            font-weight: 600;
          }
        }
      }
      // Ligne en dessous
      &:after {
        content: "";
        width: 100%;
        height: 0.5px;
        background-color: $dark;
        position: absolute;
        bottom: 0;
      }
    }
    // Les avis du chauffeur
    .comments {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      // Titre
      h2 {
        color: $secondary;
        margin-bottom: 20px;
      }
      // List des avis
      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        // Chaque avis
        li {
          margin-bottom: 5%;
          position: relative;
          display: flex;
          justify-content: center;
          // L'avis
          .user-comment {
            display: flex;
            flex-direction: column;
            gap: 5px;
            // Titre et note de l'avis
            .comment-title {
              display: flex;
              justify-content: space-between;
              p {
                font-weight: bold;
              }
              // La note de l'avis
              .note-stars {
                color: $tertiary;
              }
            }
            // Pour donner une marge entre l'avis et la ligne de séparation et mettre l'avis en text justify
            p:last-child {
              margin-bottom: 40px;
              text-align: justify;
            }
          }
          // Ligne en dessous de chaque avis
          &:after {
            content: "";
            width: 70%;
            height: 0.5px;
            background-color: $dark;
            position: absolute;
            bottom: 0;
          }
        }
      }
    }
    // Pour enlever la marge inferieur dans quelques textes
    p {
      margin-bottom: 0;
    }
  }
}

// Medias queries pour les mobiles et tablets
@media (max-width: "768px") {
  .covoiturage-info {
    flex-direction: column;
    margin-top: 20px;
    // Infomation du voyage
    .trip-info {
      width: 100%;
      .trip-header {
        // Pour le prix du covoiturage
        .trip-price {
          .content-text {
            margin-top: 11px;
          }
        }
      }
      .trip-body {
        position: relative;
        padding: 10px 10px 0px;
        border-radius: 0 0 20px 20px;
        // Les descriptions des heures du covoiturage, les lieus de départ et d'arrivée et la durée du trajet
        .time-description {
          position: unset; // Pour que la ligne fasse toute la largeur on enleve la position relative et on la passse au .trip-body
          // Les lieus et la durée
          .places {
            font-size: 0.8rem !important;
          }
          // Une ligne
          &:after {
            bottom: 63%;
          }
        }
      }
      // Bouton pour participer au covoiturage
      .participation-btn {
        margin-top: 5%;
        .btn {
          width: 60%;
          border-radius: 10px;
          text-transform: capitalize;
        }
      }
    }
    // Infomation du chauffeur
    .driver-info {
      margin-top: 5%;
      width: 100%;
      padding: 15px 5%;
      // La photo, le prenom/nom et la note du chauffuer
      .driver-header {
        // La photo
        img {
          width: 50px;
          height: 50px;
        }
      }
      // Les préférences au chauffeur
      .preferences {
        // Le titre
        h2 {
          margin-bottom: 10px;
        }
        // List des préférences
        ul {
          padding-left: 5%;
        }
      }
      // Les avis du chauffeur
      .comments {
        // Le titre
        h2 {
          margin-bottom: 10px;
        }
        // List des avis
        ul {
          // Chaque avis
          li {
            // L'avis
            .user-comment {
              // Pour donner une marge entre l'avis et la ligne de séparation
              p:last-child {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
}
