// Section avec l'info de l'utilisateur
.profil-section {
  background-color: $light;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 30px;
  margin-top: 3rem;
  // Photo
  .user-image {
    width: 10vw;
  }
}

// Info du chauffeur
.driver-info {
  display: flex;
  justify-content: center;
  background-color: $light;
  border-radius: 0 0 15px 15px;
  padding-bottom: 30px;
  gap: 15px;

  .accordion {
    width: 40%;
    .accordion-button {
      background-color: $tertiary;
      color: $dark;
      &:focus {
        box-shadow: none;
      }
    }
    .accordion-body {
      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-left: 0;
        li {
          background-color: $light;
          color: $dark;
          padding: 10px;
          border-radius: 5px;
          padding-left: 15px;
        }
      }
    }
  }
}

// Pour les responsive
@media (max-width: "768px") {
  // Section avec l'info de l'utilisateur
  .profil-section {
    padding: 30px;
    gap: 15px;
    margin-top: 2rem;
    flex-direction: column;
    // Photo
    .user-image {
      width: 20vw;
    }
  }
  // Info du chauffeur
  .driver-info {
    flex-direction: column;
    padding-bottom: 25px;
    .accordion {
      width: 100%;
      .accordion-button {
        padding: 10px;
      }
    }
  }
  // Bouton pour se déconnecter
  .btn-deconnexion {
    height: 35px;
    font-size: 0.8rem !important;
  }
}
