// Section avec l'info de l'utilisateur
.profil-section {
  background-color: $light;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 30px;
  margin-top: 3rem;

  // Photo
  .user-image {
    width: 10vw;
  }
}

// Info du chauffeur
.driver-info-profil {
  display: flex;
  justify-content: center;
  background-color: $light;
  border-radius: 0 0 15px 15px;
  padding-bottom: 30px;
  gap: 15px;

  .accordion {
    width: 40%;

    .accordion-button {
      background-color: $tertiary;
      color: $dark;

      &:focus {
        box-shadow: none;
      }
    }

    .accordion-body {

      // Liste des voitures et préférences
      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-left: 0;
        margin-bottom: 0;

        // La liste avec tous les voitures et tous les préférences
        li {
          background-color: $light;
          color: $dark;
          padding: 10px;
          border-radius: 5px;
          padding-left: 15px;
        }

        // L'icon pour ajouter une nouvelle voiture ou une nouvelle préférence
        .add-icon {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: row-reverse;
          gap: 10px;
          background-color: white;
          transition: background-color 0.2s ease-in-out; // Transition pour changer le background-color

          // Le placeholder
          p {
            margin-bottom: 0;
            visibility: hidden;
            color: $dark;
            transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out; // Transition pour afficher le text
            opacity: 0;
          }

          // L'icon d'ajouter
          i {
            color: $secondary;
            cursor: pointer;
            font-size: 2rem;
          }

          // Pour afficher le placeholder
          a:hover+p {
            visibility: visible;
            opacity: 1;
          }

          // Pour changer le background color quand hover dans l'icon
          &:has(i:hover) {
            background-color: $light;
          }
        }

        // Pour cacher le formualire de création d'une nouvelle préférence
        .hidden {
          display: none;
        }
      }
    }
  }
}

.employe-section {
  display: flex;
  justify-content: center;
  background-color: $light;
  border-radius: 0 0 15px 15px;
  padding-bottom: 30px;
  gap: 15px;
}

// Pour les responsive
@media (max-width: "768px") {

  // Section avec l'info de l'utilisateur
  .profil-section {
    padding: 30px;
    gap: 15px;
    margin-top: 2rem;
    flex-direction: column;

    // Photo
    .user-image {
      width: 20vw;
    }
  }

  // Info du chauffeur
  .driver-info-profil {
    flex-direction: column;
    padding-bottom: 25px;

    .accordion {
      width: 100%;

      .accordion-button {
        padding: 10px;
      }
    }
  }

  // Bouton pour se déconnecter
  .btn-deconnexion {
    height: 35px;
    font-size: 0.8rem !important;
  }
}