<!-- Mail pour les participants du covoituage quand il est annulé par le chauffeur -->
<!DOCTYPE html>
<html lang="fr">
  <body class="mail-content">
    <!-- Message -->
    <p>Chers participants,</p>
    <p>
      Nous vous informons que le chauffeur [Nom du chauffeur] a malheureusement
      annulé le trajet prévu. Nous comprenons que cela puisse être contraignant
      et nous nous excusons pour la gêne occasionnée.
    </p>
    <!-- List avec l'info du covoiturage annulé -->
    <ul>
      <li><strong>📍 Trajet annulé :</strong></li>
      <li><strong>🚘 Départ :</strong> [Adresse de départ]</li>
      <li><strong>🏁 Arrivée :</strong> [Adresse d’arrivée]</li>
      <li><strong>🗓️ Date :</strong> [Date]</li>
    </ul>
    <p>
      Si vous avez la moindre question, notre équipe est là pour vous aider.
      N’hésitez pas à nous contacter !
    </p>
    <p>À très bientôt sur EcoRide!</p>
    <p>L'équipe de Covoiturage</p>
  </body>
</html>
