RewriteEngine On

# Conditions pour dire que, si le fichier ou le directoire n'existent pas, alors 
# on utilise la règle de réecriture d'url
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Règle qui renvoi vers index.php?url=(le controller et l'action avec ses paramètres)
# QSA(Query String Append) = Pour garder les paramètres d'url
# L = Pour dire que c'est la dernière règle
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]