// Bouton principal
.primary-btn {
  color: $dark;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2%;
  border: 0.8px solid $dark;
}
// Bouton secondaire
.secondary-btn {
  color: $dark;
  border: 0.3px solid $dark;
  font-weight: 500;
}

// Bouton pour les messages de SweetAlert
.swal-btn {
  color: $light !important;
  background-color: $secondary !important;
  border: 0.3px solid $dark !important;
}

.danger-btn{
  &:hover{
    background-color: $danger !important;
  }
}